---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import Heading from '@/components/Heading.astro';

const { title, description } = AppConfig;
---

<Base head={{ title: `Legal Notice - ${title}`, description }}>

	<Section><Heading title="Policy" /></Section>

	<Section>
		<div class="text-sm">
			<!-- <p class="pt-6 text-4xl font-bold">Policy</p> -->
			
			<p class="pt-0 pb-2 text-2xl font-bold">Mandatory Information (as per Italian D. Lgs. 70/2003)</p>
			<Section>
			<p class="space-y-1">
        		<p class="text-lg"><strong>Operator:</strong> Xueyufei Zhang</p>
        		<p class="text-lg"><strong>Location:</strong> Torino, Italy</p>
        		<p class="text-lg"><strong>Email:</strong> <a class="underline hover:text-orange-600" href="mailto:your-email@example.com">contact-me@zxyf.top</a></p>
        		<p class="text-lg"><strong>Website URL:</strong> <a class="underline" href={Astro.site}>{Astro.site}</a></p>
      		</p>
			</Section>
		</div>

		<p class="pt-5 pb-2 text-2xl font-bold">Policy Documentation</p>

		<Section>
    		<p class="space-y-1">
        		<p class="text-lg"><a class="underline hover:text-orange-600" href="/privacy"><strong>Privacy Policy</strong></a></p>
				<p class="py-2"></p>
        		<p class="text-lg"><a class="underline hover:text-orange-600" href="/terms"><strong>Terms & Conditions</strong></a></p>
				<p class="py-2"></p>
				<p class="text-lg"><a class="underline hover:text-orange-600" href="/disclaimer"><strong>Disclaimer</strong></a></p>
      		</p>
  		</Section>

	</Section>
</Base>
