---
import Section from './Section.astro';
// 删除这里原本引用的 TableOfContents，因为布局层级已经提升到了 post.astro
---

<Section>
  <div class="relative">
    <div
      class="content prose dark:prose-invert prose-code:rounded-lg prose-code:bg-stone-800 prose-code:p-1 prose-code:text-orange-600 prose-img:rounded-lg prose-img:shadow-xl prose-img:dark:shadow-stone-800 mt-4 max-w-none text-base leading-8 text-black dark:text-white"
    >
      <slot />
    </div>
  </div>
</Section>

<style is:global>
  /* 保持原本的锚点偏移逻辑 */
  .content h2,
  .content h3 {
    scroll-margin-top: 6rem;
  }
</style>
