---
import Section from './Section.astro';
import TableOfContents from './TableOfContents.astro';
---

<Section>
  <div class="relative">
    {/* 关键：使用 2xl 或调整 ml 值。如果屏幕宽度不足以容纳内容+目录，目录必须消失或调整 */}
    <aside class="hidden xl:block absolute left-[107%] top-0 z-10 w-[18rem] h-full">
      <div class="sticky top-15">
        <TableOfContents />
      </div>
    </aside>
    <div
      class="content prose dark:prose-invert prose-code:rounded-lg prose-code:bg-stone-800 prose-code:p-1 prose-code:text-orange-600 prose-img:rounded-lg prose-img:shadow-xl prose-img:dark:shadow-stone-800 mt-8 max-w-none text-base leading-8 text-black dark:text-white"
    >
      <slot />
    </div>
  </div>
</Section>

<style is:global>
  .content h2,
  .content h3 {
    scroll-margin-top: 6rem;
  }
  /* 强制处理代码块，这是导致左右滑动条的第二大原因 */
  .content pre {
    max-width: 100%;
    overflow-x: auto !important;
    white-space: pre !important; 
  }
</style>
